main {
	background-image: url(../assets/img/fondotrebol.jpg);
	border-radius: 20px;
}
body {
	overflow-x: hidden;
}
a:hover {
	color: darkgoldenrod;
}
.bg-lime {
	background-color: limegreen;
	border-radius: 20px;
}
.h1 {
	display: flex;
	justify-content: center;
}
.h2 {
	margin-bottom: 20px;
}
.border {
	border-top: 20px double black;
	margin-top: 20px;
	display: flex;
	justify-content: center;


}
.img img {
	display: flex;
	justify-content: center;
	border-radius: 20px;
}
.logo img {
	display: flex;
	justify-content: center;
}
.margin {
	margin-top: 10px;
}

.margin_more {
	margin-top: 25px;
}
.margin_blog p {
	margin-bottom: 40px;
}
.margin_con {
	margin-top: 10px;
}
.gradi {
	background-image: linear-gradient(to right, darkgreen, limegreen, darkcyan);
    border-top: 20px double black;
}